section.o-section(data-theme='gold' id="elements")
    .o-wrapper
        +headding('h1', 'Aspectos visuales.', 'Elementos', 'compositivos')(class="js-scrollUp")
    .o-wrapper
        img(src="images/projects/betsknate/betsknate_elementos.png" alt="" draggable="false")