section.o-section(data-theme='gold' id="preview")
    .o-wrapper
        +headding('h1', 'Inicio,  lo que nos trajo aquí.', 'Sobre', 'Betsknate.')(class="js-scrollUp")
    .o-wrapper
        img(src="images/projects/betsknate/betsknate_preview.png" alt="")