section.o-section(data-theme='gray' id="proposal")
    .o-wrapper
        +headding('h1', 'Horizonte, lo que quisimos lograr.', 'Propuesta', 'de marca.')(class="js-scrollUp")
    .o-wrapper
        img(src="images/projects/betsknate/betsknate_propuesta.png" alt="")