section.o-section(data-theme='gray' id="record")
    .o-wrapper
        .cont-multimedia
            div(class="c-multimedia" data-square='multimedia' data-shadow='true')
                video(controls class="c-multimedia_video" poster='./images/projects/slider/4.jpg')
                    source(src="multimedia/videos/orca/reel.mp4" type="video/mp4")
                    | Your browser does not support the video element.