section.o-section(data-theme='light' id="colors")
    .o-wrapper
        +headding('h1', 'Estética, parte visual.', 'Paleta', 'de colores.')(class="js-intersector in-out")
    .o-wrapper
        img(src="images/projects/origen/origen_colores.png" alt="" draggable="false" class="js-intersector in-out")