section.o-section(data-theme='dark' id="proposal")
    .o-wrapper
        +headding('h1', 'Horizonte, lo que quisimos lograr.', 'Propuesta', null)(class="js-intersector in-out")
    .o-wrapper
        img(src="images/projects/origen/origen_propuesta_1.png" alt="" draggable="false" class="js-intersector hk-image-layout")
        img(src="images/projects/origen/origen_propuesta_2.png" alt="" draggable="false" class="js-intersector hk-image-layout")
        img(src="images/projects/origen/origen_propuesta_3.png" alt="" draggable="false" class="js-intersector hk-image-layout")