section.o-section(data-theme='gray' id="welcome")
    .o-wrapper
        +headding('h1', null, 'Origen', 'plazoletas de comida')(class="js-scrollUp")
        blockquote(class="c-welcome_message")
            p.
                Diseño, construcción de marca, uniformes y material POP.
            div(class="c-welcome_details")
                div
                    strong Industria: 
                    span Alimentos
                div
                    strong Año: 
                    span 2016
    +mega_headding('OrigenPlazoleta')
