@charset "utf-8";

.c- {
    &main-title,
    &main-message {
        width: 90vw;
        max-width: 1100px;
        user-select: none;
    }
    &main-message {
        padding: 2vw 0;
    }
    &main-title {
        padding-top: 80px;
        z-index: 2;
    }
    &aboutUs {
    }
    &contact {
        display: grid;
        grid-gap: 0.5em;
    }
}

.c- {
    &grid {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(13, 50px);
        grid-auto-rows: 50px;
        justify-content: space-around;
        grid-gap: 0;
        max-width: 90%;
        margin: auto;
        padding: 5vw 0 5vw 0;
    }
    &card {
        min-height: 320px;
        min-width: 330px;
        position: relative;
        display: inline-flex;
        padding: 10px;
        margin: 0;
        &_image {
            width: 100%;
            height: 100%;
            max-width: 330px;
            object-fit: cover;
            object-position: left;
            position: relative;
            z-index: 0;
        }
        &_content {
            background-color: var(--theme-card-content-bg);
            padding: 10px;
            position: relative;
            z-index: 0;
            box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.27);
        }
        &_description {
            font-family: var(--font-normal);
            font-size: 26px;
        }
        &_caption {
            &-title {
                // margin: 0;
            }
        }
        &::before {
            content: '';
            width: 90%;
            height: 90%;
            border: 4px solid var(--theme-card-before-border-bg);
            position: absolute;
            top: -5px;
            left: -5px;
            z-index: 0;
            background-color: transparent;
        }
    }
}
