@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
:root { --duration: 1.6s; --easing: cubic-bezier(0.2, 0, 0.3, 1); --theme-contrast: #323232; --color-w: #ffffff; --color-0: #f0f0f0; --color-1: #323232; --color-a: #eec32e; --color-b: #fdc400; --color-c: #fdc400; --theme-section-bg: var(--color-w); --font-medium: AvenirNext-Medium, sans-serif; --font-bold: AvenirNext-Bold, sans-serif; --font-normal: Avenir Next, sans-serif; --mouse-x: calc(50vw + 1px); --mouse-y: calc(50vh + 1px); --mouse-bg: var(--color-a); }

/* ---------------------------------- */
/* latin-ext */
@font-face { font-family: 'AvenirNext-Bold'; font-style: bold; font-weight: 700; font-display: swap; src: local("AvenirNext-Bold"), local("AvenirNext-Bold"), url("./fonts/AvenirNext-DemiBold-03.ttf") format("truetype"); }

@font-face { font-family: 'AvenirNext-Medium'; font-style: bold; font-weight: 700; font-display: swap; src: local("AvenirNext-Medium"), local("AvenirNext-Medium"), url("./fonts/AvenirNext-Medium-06.ttf") format("truetype"); }

/* latin */
@font-face { font-family: 'Avenir Next'; font-style: bold; font-weight: 700; font-display: swap; src: local("Avenir Next"), local("Avenir Next"), url("./fonts/AvenirNext-Regular-08.ttf") format("truetype"); }

/* ---------------------------------- */
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { font-family: var(--font-bold); }

html { font-family: var(--font-normal), Roboto, Helvetica, sans-serif; font-size: 20px; height: 100%; width: 100%; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; padding: 0; margin: 0; font-size: inherit; background-color: #fff; cursor: initial; }

img { max-width: 100%; }

/* ---------------------------------- */
/* ---------------------------------- */
.c-section_headding { width: 100%; max-width: 1200px; font-family: var(--font-medium); font-size: 74px; letter-spacing: -3.5px; padding: 0 5px; position: relative; z-index: 1; margin-top: 0; margin-bottom: 5vh; padding-top: 5vh; }

.c-section_headding-indicator { font-size: 16px; letter-spacing: 0; font-family: var(--font-medium); }

.c-section_headding-enfasis { color: var(--theme-headding-enfasis); }

.c-section_headding-separador { width: 100%; max-width: 330px; min-height: 0.25rem; background-color: var(--theme-headding-separador); margin-bottom: 18px; }

.o-mega_headding { font-size: 610px; font-family: var(--font-medium); color: #f3f3f3; text-shadow: 0 0 30px #e0e0e0; position: relative; left: 6vmin; }

.o-mega_headding-wrapper { position: absolute; z-index: 0; top: auto; bottom: 10px; overflow: hidden; width: 100%; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; pointer-events: none; }

.o-section { width: 100%; min-height: 100vh; background-color: var(--theme-section-bg); }

.o-section:first-of-type { padding-top: 7rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.o-section.u-extra { height: 130vh; }

.o-header { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; min-height: 3rem; padding: 2rem 6vw; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: var(--theme-header-bg); }

.o-header_btn, .o-menu_btn { background-color: transparent; min-height: 3rem; border: none; }

.o-main { width: 100%; height: 100%; }

.o-logo { max-width: 4rem; width: 100%; }

.o-menu { width: 100%; max-width: 400px; }

.o-menu_btn { max-width: 3rem; opacity: 0; display: none; }

.o-menu_options { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; margin: 0; padding: 0; }

.o-menu_options-item { list-style-type: none; font-family: var(--font-medium); }

.o-menu_options-link { text-decoration: none; -webkit-text-decoration-color: var(--color-a); text-decoration-color: var(--color-a); }

.o-article { padding: 2vh 4vw; }

.o-wrapper { width: 100%; max-width: 1200px; margin: 0 auto; }

/* ---------------------------------- */
.c-main-title, .c-main-message { width: 90vw; max-width: 1100px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.c-main-message { padding: 2vw 0; }

.c-main-title { padding-top: 80px; z-index: 2; }

.c-founders, .c-cards { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[10]; grid-template-columns: repeat(10, 1fr); -ms-grid-rows: (90px)[5]; grid-template-rows: repeat(5, 90px); -ms-flex-pack: distribute; justify-content: space-around; grid-gap: 0; max-width: 890px; margin: auto; padding: 5vw 0 5vw 0; }

.c-founders_this, .c-founders_card, .c-cards_this, .c-cards_card { min-height: 320px; min-width: 330px; position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding: 20px; margin: 0; }

.c-founders_this:nth-child(1), .c-founders_card:nth-child(1), .c-cards_this:nth-child(1), .c-cards_card:nth-child(1) { -ms-grid-column: 1; -ms-grid-column-span: 4; grid-column: span 4 / 5; -ms-grid-row: 1; -ms-grid-row-span: 4; grid-row: 1 / 5; }

.c-founders_this:nth-child(2), .c-founders_card:nth-child(2), .c-cards_this:nth-child(2), .c-cards_card:nth-child(2) { -ms-grid-column: 7; -ms-grid-column-span: 4; grid-column: span 4 / 11; -ms-grid-row: 3; -ms-grid-row-span: 4; grid-row: 3 / 7; }

.c-founders_this-photo, .c-founders_card-photo, .c-cards_this-photo, .c-cards_card-photo { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: left; object-position: left; }

.c-founders_this-info, .c-founders_card-info, .c-cards_this-info, .c-cards_card-info { background-color: var(--theme-card-bg); padding: 20px; }

.c-founders_this-caption--title, .c-founders_card-caption--title, .c-cards_this-caption--title, .c-cards_card-caption--title { margin: 0; }

.c-founders_this::before, .c-founders_card::before, .c-cards_this::before, .c-cards_card::before { content: ''; width: 90%; height: 90%; border: 4px solid var(--color-a); position: absolute; top: 0; left: 0; z-index: -1; background-color: transparent; }

.c-contact { display: -ms-grid; display: grid; grid-gap: 0.5em; }

.c-grid { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[10]; grid-template-columns: repeat(10, 1fr); -ms-grid-rows: (90px)[5]; grid-template-rows: repeat(5, 90px); -ms-flex-pack: distribute; justify-content: space-around; grid-gap: 0; max-width: 890px; margin: auto; padding: 5vw 0 5vw 0; }

.c-grid[data-grid='card'] .c-card { min-height: 320px; min-width: 330px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.c-grid[data-grid='card'] .c-card:nth-child(1) { -ms-grid-column: 1; -ms-grid-column-span: 4; grid-column: span 4 / 5; -ms-grid-row: 1; -ms-grid-row-span: 4; grid-row: 1 / 5; }

.c-grid[data-grid='card'] .c-card:nth-child(2) { -ms-grid-column: 7; -ms-grid-column-span: 4; grid-column: span 4 / 11; -ms-grid-row: 3; -ms-grid-row-span: 4; grid-row: 3 / 7; }

.c-card { min-height: 320px; min-width: 330px; position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding: 20px; margin: 0; }

.c-founders_this:nth-child(1) { -ms-grid-column: 1; -ms-grid-column-span: 4; grid-column: span 4 / 5; -ms-grid-row: 1; -ms-grid-row-span: 4; grid-row: 1 / 5; }

.c-founders_this:nth-child(2) { -ms-grid-column: 7; -ms-grid-column-span: 4; grid-column: span 4 / 11; -ms-grid-row: 3; -ms-grid-row-span: 4; grid-row: 3 / 7; }

/* ---------------------------------- */
/* ---------------------------------- */
.svg-section_1_heading { margin-top: 112px; }

.svg-section_1_heading .foreign-title { margin: 0; font-size: 57px; letter-spacing: -3px; line-height: 68px; }

.svg-section_1_heading .foreign-title span { color: var(--color-a); }

.svg-section_1_heading .st0 { fill: #1f1f1f; }

.svg-section_1_heading .st2 { font-size: 16px; }

.svg-section_1_heading .st3 { fill: #fcc301; }

.svg-section_1_heading .st4 { fill: none; }

.svg-section_1_heading .st5 { fill: #fdc401; }

.svg-section_1_heading .st6 { font-size: 57px; }

.svg-section_1_heading .st7 { letter-spacing: -2px; }

.svg-main_title .cls-1 { fill: none; }

.svg-main_title .cls-2 { fill: #242424; }

.svg-main_title .cls-3 { font-size: 131px; font-family: var(--font-bold); font-weight: 700; letter-spacing: -0.03em; }

.svg-main_title .cls-3, .svg-main_title .cls-6 { fill: #383838; }

.svg-main_title .cls-4 { letter-spacing: -0.04em; }

.svg-main_title .cls-5 { letter-spacing: -0.03em; }

.svg-main_title .cls-6 { font-size: 34px; font-family: var(--font-medium); font-weight: 500; letter-spacing: -0.04em; }

.svg-main_title .cls-7 { letter-spacing: -0.03em; }

.svg-main_title .cls-8 { letter-spacing: -0.06em; }

.svg-main_title .cls-9 { letter-spacing: -0.05em; }

.svg-main_title .cls-10 { letter-spacing: -0.03em; }

.svg-main_title .cls-11 { letter-spacing: -0.05em; }

.svg-main_title .cls-12 { letter-spacing: -0.09em; }

.svg-menu .cls-1 { fill: #383838; }

.svg-logo .st0 { fill: #222220; }

.svg-mensaje a { fill: var(--color-a); }

.svg-mensaje .cls-1, .svg-mensaje .cls-5 { font-size: 116px; font-family: var(--font-bold), roboto; font-weight: 700; letter-spacing: -0.03em; }

.svg-mensaje .cls-1 { fill: #fff; }

.svg-mensaje .cls-2 { letter-spacing: -0.05em; }

.svg-mensaje .cls-3 { letter-spacing: -0.03em; }

.svg-mensaje .cls-4 { letter-spacing: -0.06em; }

.svg-mensaje .cls-5 { fill: #eec32e; }

/* ---------------------------------- */
.fx-mask { height: 95%; width: 95%; max-width: 1200px; max-height: 95vh; margin: auto; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-animation-duration: 0.9s; animation-duration: 0.9s; }

.fx-mask:hover { -webkit-animation: animateSize; animation: animateSize; }

.fx-mask:before, .fx-mask:after { position: absolute; letter-spacing: -0.1vmin; z-index: 20; }

.fx-mask:before { content: attr(data-project); top: 0vh; right: -1vw; font-size: 1.6rem; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: bottom right; -ms-transform-origin: bottom right; transform-origin: bottom right; background-color: var(--color-a); color: var(--color_1); padding: 0 10px; }

.fx-mask:after { content: attr(data-product) " / " attr(data-product-count); bottom: 2vh; left: 2vw; font-size: 6vmin; }

.product { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: -ms-grid; display: grid; -ms-grid-columns: 1fr 1fr; grid-template-columns: 1fr 1fr; -ms-grid-rows: 1fr 1fr; grid-template-rows: 1fr 1fr; -webkit-box-shadow: 0 0 0 1px var(--color-a); box-shadow: 0 0 0 1px var(--color-a); }

.product:after { content: ''; }

.product::before { content: ''; width: 90%; height: 90%; border: 4px solid var(--color-a); border-right: none; border-bottom: none; position: absolute; top: -20px; left: -20px; background-color: transparent; }

.product[data-active] { z-index: 10; }

.product[data-active] > .photo { -webkit-mask-size: 600vmax 600vmax; mask-size: 600vmax 600vmax; -webkit-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }

.product[data-active] .title span { -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; }

.product[data-active] + .product .title span { visibility: hidden; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); }

.product[data-active] + .product .title div:nth-child(2) span { -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); }

.product > .photo { grid-column: 1 / -1; grid-row: 1 / -1; margin: 0; background: #fff; overflow: hidden; -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #000), color-stop(70.1%, transparent)); -webkit-mask-image: -webkit-linear-gradient(#000 70%, transparent 70.1%); mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #000), color-stop(70.1%, transparent)); mask-image: linear-gradient(#000 70%, transparent 70.1%); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-position: calc(var(--mouse-x) - 50vw + 50%) calc(var(--mouse-y) - 50vh + 50%); mask-position: calc(var(--mouse-x) - 50vw + 50%) calc(var(--mouse-y) - 50vh + 50%); -webkit-mask-size: 0vmax 0vmax; mask-size: 0vmax 0vmax; -webkit-transition: -webkit-mask-size var(--duration) var(--easing); transition: -webkit-mask-size var(--duration) var(--easing); -o-transition: mask-size var(--duration) var(--easing); transition: mask-size var(--duration) var(--easing); transition: mask-size var(--duration) var(--easing), -webkit-mask-size var(--duration) var(--easing); -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; }

.product > .photo::after, .product > .photo::before { content: ''; position: absolute; z-index: 1; }

.product > .photo::after { bottom: -10rem; right: -10rem; width: 20rem; height: 20rem; border-radius: 50%; background-image: -webkit-linear-gradient(135deg, var(--color-a), var(--color-a)); background-image: -o-linear-gradient(135deg, var(--color-a), var(--color-a)); background-image: linear-gradient(-45deg, var(--color-a), var(--color-a)); }

.product > .photo::before { top: -5rem; left: -5rem; width: 10rem; height: 10rem; border-radius: 0; }

.product > .photo img { opacity: 0.8; display: block; -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; pointer-events: none; }

.product > .title { -ms-grid-column: 2; grid-column: 2; -ms-grid-row: 2; grid-row: 2; font-size: 5vmin; line-height: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding: 1rem; }

.product > .title h2 { margin: 0; font-weight: 300; letter-spacing: -0.5vmin; line-height: 0.9; }

.product > .title span { display: block; white-space: nowrap; overflow: hidden; }

.product .title h2 { margin: 0; -webkit-transition: text-shadow 0.3s ease-in-out, color 0.35s ease-in-out; -o-transition: text-shadow 0.3s ease-in-out, color 0.35s ease-in-out; transition: text-shadow 0.3s ease-in-out, color 0.35s ease-in-out; text-shadow: 0 1px 0 var(--color-c); font-family: var(--font-normal); }

.product .title h2:hover { text-shadow: 0 3px 0 var(--color-1); color: var(--color-w); }

.product .title div { overflow: hidden; }

.product .title div span { -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: -webkit-transform calc(var(--duration) - 0.6s) var(--easing); transition: -webkit-transform calc(var(--duration) - 0.6s) var(--easing); -o-transition: transform calc(var(--duration) - 0.6s) var(--easing); transition: transform calc(var(--duration) - 0.6s) var(--easing); transition: transform calc(var(--duration) - 0.6s) var(--easing), -webkit-transform calc(var(--duration) - 0.6s) var(--easing); }

.product .title div:nth-child(2) { text-align: center; }

.product .title div:nth-child(3) { text-align: right; }

.product .title div:nth-child(2) span { -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); }

/* ---------------------------------- */
.mouse-tracker { --size-init: 0.6rem; --size-active: 1.5rem; position: fixed; z-index: 999; top: 0; left: 0; width: var(--size-init); height: var(--size-init); background: rgba(255, 255, 255, 0.2); opacity: 0.8; -webkit-transform: translate(-50%, -50%) translate(var(--mouse-x), var(--mouse-y)); -ms-transform: translate(-50%, -50%) translate(var(--mouse-x), var(--mouse-y)); transform: translate(-50%, -50%) translate(var(--mouse-x), var(--mouse-y)); -webkit-transition: border-radius 0.15s ease-in-out, background-color 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out; -o-transition: border-radius 0.15s ease-in-out, background-color 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out; transition: border-radius 0.15s ease-in-out, background-color 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out; pointer-events: none; }

.mouse-tracker::before, .mouse-tracker::after { content: ''; position: absolute; border-width: 1px; border-style: solid; border-color: var(--theme-contrast); }

.mouse-tracker::before { width: 90%; height: 90%; z-index: -2; border-bottom: none; border-right: none; background-color: transparent; }

.mouse-tracker::after { top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background-color: var(--mouse-bg); }

.mouse-tracker.on-link { width: var(--size-active); height: var(--size-active); cursor: pointer; background-image: -webkit-linear-gradient(350deg, var(--color-a), var(--color-b)); background-image: -o-linear-gradient(350deg, var(--color-a), var(--color-b)); background-image: linear-gradient(460deg, var(--color-a), var(--color-b)); }

.mouse-tracker.on-link::after, .mouse-tracker.on-link::before { border-radius: 0%; border-width: 2px; }

.mouse-tracker.on-link::before { top: -4px; left: -4px; }

.mouse-tracker[data-theme='on-gold'] { --mouse-bg: var(--color-w); }

/* ---------------------------------- */
.u-head_section, .u-headding, .u-message { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.u-head_section { font-size: 10vmin; margin: 1vh 0 3vh; font-family: var(--font-bold), Helvetica; font-weight: bold; color: var(--color-a); -webkit-transition: text-shadow 0.3s ease-in-out, color 0.35s ease-in-out; -o-transition: text-shadow 0.3s ease-in-out, color 0.35s ease-in-out; transition: text-shadow 0.3s ease-in-out, color 0.35s ease-in-out; }

.u-head_section::before { content: attr(data-name); width: 100%; position: absolute; left: 0; z-index: -1; -webkit-filter: opacity(0.2); filter: opacity(0.2); opacity: 0.3; font-size: 200%; color: #646464; text-align: center; }

.u-head_section:hover { text-shadow: 0 3px 0 var(--color-1); }

.u-head_section:hover::before { text-shadow: none; }

.u-message { background-color: #1c1e1f; color: var(--color-0); }

.u-middle { min-height: 20rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.u-cubo::before { content: ''; width: 90%; height: 90%; border: 4px solid var(--color-a); position: absolute; top: 0; left: 0; z-index: -1; background-color: transparent; }

.u-chevron { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 3rem; }

.u-chevron-arrow { position: absolute; top: -0.18rem; width: 1.05rem; height: 0.18rem; opacity: 0; -webkit-transform: scale(0.3); -ms-transform: scale(0.3); transform: scale(0.3); -webkit-animation: move-chevron 3s ease-out infinite; animation: move-chevron 3s ease-out infinite; }

.u-chevron-arrow:first-child { -webkit-animation: move-chevron 3s ease-out 1s infinite; animation: move-chevron 3s ease-out 1s infinite; }

.u-chevron-arrow:nth-child(2) { -webkit-animation: move-chevron 3s ease-out 2s infinite; animation: move-chevron 3s ease-out 2s infinite; }

.u-chevron-arrow:before, .u-chevron-arrow:after { content: ''; position: absolute; top: 0; height: 100%; width: 50%; background: #2c3e50; }

.u-chevron-arrow:before { left: 0; -webkit-transform: skewY(30deg); -ms-transform: skewY(30deg); transform: skewY(30deg); }

.u-chevron-arrow:after { right: 0; width: 50%; -webkit-transform: skewY(-30deg); -ms-transform: skewY(-30deg); transform: skewY(-30deg); }

@-webkit-keyframes move-chevron { 25% { opacity: 1; }
  33.3% { opacity: 1;
    -webkit-transform: translateY(1.14rem);
    transform: translateY(1.14rem); }
  66.6% { opacity: 1;
    -webkit-transform: translateY(1.56rem);
    transform: translateY(1.56rem); }
  100% { opacity: 0;
    -webkit-transform: translateY(2.4rem) scale(0.5);
    transform: translateY(2.4rem) scale(0.5); } }

@keyframes move-chevron { 25% { opacity: 1; }
  33.3% { opacity: 1;
    -webkit-transform: translateY(1.14rem);
    transform: translateY(1.14rem); }
  66.6% { opacity: 1;
    -webkit-transform: translateY(1.56rem);
    transform: translateY(1.56rem); }
  100% { opacity: 0;
    -webkit-transform: translateY(2.4rem) scale(0.5);
    transform: translateY(2.4rem) scale(0.5); } }

/* ---------------------------------- */
.o-section:first-of-type .c-section_headding { margin-top: 18vh; }

.o-section[data-theme='gold'] { --theme-section-bg: var(--color-a); --theme-headding-enfasis: var(--color-w); --theme-headding-separador: var(--color-w); --theme-card-bg: var(--color-w); --theme-card-before: var(--color-a); }

.o-section[data-theme='light'] { --theme-section-bg: var(--color-w); --theme-headding-enfasis: var(--color-a); --theme-headding-separador: var(--color-a); }

.o-section[data-theme='gray'] { --theme-section-bg: var(--color-0); --theme-headding-enfasis: var(--color-a); --theme-headding-separador: var(--color-a); }

.o-section[data-theme='dark'] { --theme-section-bg: var(--color-1); --theme-headding-enfasis: var(--color-a); --theme-headding-separador: var(--color-a); }

@-webkit-keyframes animateSize { to { width: 85vw;
    height: 85vh; } }

@keyframes animateSize { to { width: 85vw;
    height: 85vh; } }

/*# sourceMappingURL=index.css.map */