section.o-section(data-theme='light' id="proposal")
    .o-wrapper
        +headding('h1', 'Horizonte, lo que quisimos lograr.', 'Propuesta', 'de marca.')(class="js-intersector in-out")
    .o-wrapper
        img(src="./assets/images/projects/valientes/valientes_marca.png" alt="" draggable="false" class="js-intersector hk-image-layout")