section.o-section(data-theme='gray' id="welcome")
    .o-wrapper
        +headding('h1', null, 'Valientes', null)(class="js-intersector in-up")
        blockquote(class="c-welcome_message")
            p.
                Diseño, construcción de marca y pieza promocionales.
            div(class="c-welcome_details")
                div
                    strong Industria: 
                    span Salud
                div
                    strong Año: 
                    span 2018
    +mega_headding('Valientes')
