section.o-section(data-theme='light' id="aplicaciones")
    .o-wrapper
        +headding('h1', 'Aspectos visuales.', 'Aplicaciones', null)(class="js-scrollUp")
    .o-wrapper
        img(src="./assets/images/projects/origen/origen_aplicaciones.png" alt="" draggable="false")