section.o-section(data-theme='gray' id="record")
    .o-wrapper
        .cont-multimedia
            div(class="c-multimedia js-intersector" data-square='multimedia' data-shadow='true')
                video(controls class="c-multimedia_video" poster='./assets/images/projects/slider/2.jpg')
                    source(src="./assets/videos/origen/reel.mp4" type="video/mp4")
                    | Your browser does not support the video element.