section.o-section(data-theme='light' id="isotipo")
    .o-wrapper
        +headding('h1', 'Aspectos visuales.', 'Abstracción', null)(class="js-intersector")
    .o-wrapper
        img(src="images/projects/orca/orca_isotipo.png" alt="" draggable="false" class="js-intersector hk-image-layout")