section.o-section(data-theme='gray' id="objectives")
    .o-wrapper
        +headding('h1', 'Norte, objetivos a cumplir.', 'Proposito', 'rebranding.')(class="js-intersector in-out")
    .o-wrapper
        img(src="images/projects/orca/orca_proposito_rebranding.png" alt="" draggable="false" class="js-intersector hk-image-layout")