section.o-section(data-theme='light' id="preview")
    .o-wrapper
        +headding('h1', 'Inicio,  lo que nos trajo aquí.', 'Sobre', 'proyecto orca.')(class="js-scrollUp")
    .o-wrapper
        img(src="images/projects/orca/orca_preview.png", alt="")