section.o-section(data-theme='gray' id="welcome")
    .o-wrapper
        +headding('h1', null, 'Proyecto', 'orca')(class="js-scrollUp")
        blockquote(class="c-welcome_message")
            p.
                Rediseño de marca, estrategía comunicación,
                plan de social media, packaging discografía y
                elementos de mercadeo.
            div(class="c-welcome_details")
                div
                    strong Industria: 
                    span Musical
                div
                    strong Año: 
                    span 2015
    +mega_headding('ProyectoOrca')
