section.o-section(data-theme='gray' id="colores")
    .o-wrapper
        +headding('h1', 'Estética, parte visual.', 'Paleta de', 'colores.')(class="js-intersector in-out")
    .o-wrapper
        img(src="images/projects/valientes/valientes_colores.png" alt="" draggable="false" class="js-intersector hk-image-layout")