section.o-section(data-theme='dark' id="referentes")
    //- .o-wrapper
        +headding('h1', 'Aspectos visuales.', 'Abstracción', null)(class="js-intersector")
    .o-wrapper
        img(src="images/projects/valientes/valientes_referentes.png" alt="" draggable="false" class="js-intersector hk-image-layout")