@charset "utf-8";

.o- {
    &main {
        width: 100%;
        height: 100%;
    }
    &section {
        width: 100%;
        min-height: 100vh;
        &.u-extra {
            height: 130vh;
        }
    }
    &header {
        display: flex;
        min-height: 3rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4vw;
    }
    &logo {
        min-width: 4rem;
    }
    &menu {
        opacity: 0;
        min-width: 3rem;
    }
    &logo,
    &menu {
        min-height: 3rem;
        border: none;
        background-color: transparent;
    }
    &article {
        padding: 2vh 4vw;
    }
    &wrapper {
        max-width: 1100px;
        margin: auto;
    }
}
.u- {
    &head_section,
    &headding,
    &message {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &head_section {
        font-size: 10vmin;
        margin: 1vh 0 3vh;
        font-family: var(--font-avenirnext-bold), Helvetica;
        font-weight: bold;
        color: var(--color-a);
        transition: text-shadow 0.3s ease-in-out, color 0.35s ease-in-out;
        &::before {
            content: attr(data-name);
            width: 200%;
            left: -50%;
            position: absolute;
            filter: opacity(0.2);
            opacity: 0.3;
            font-size: 200%;
            color: rgba(74, 74, 74, 0.72);
            z-index: -1;
        }
        &:hover {
            text-shadow: 0 3px 0 var(--color-1);
            &::before {
                text-shadow: none;
            }
        }
    }
    &message {
        background-color: #1c1e1f;
        color: var(--color-0);
    }
    &middle {
        min-height: 20rem;
        flex-direction: column;
        justify-content: flex-start;
    }
    &cubo {
        &::before {
            content: '';
            width: 90%;
            height: 90%;
            border: 4px solid var(--color-a);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: transparent;
        }
    }
}
.c- {
    &main-title,
    &main-message {
        width: 90vw;
        max-width: 1100px;
        user-select: none;
        padding: 2vw;
    }
    &aboutUs {
    }
    &founders {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(5, 90px);
        justify-content: space-around;
        grid-gap: 0;
        max-width: 890px;
        margin: auto;
        padding: 10vw 0;
        &_this {
            &:nth-child(1) {
                grid-column: span 4 / 5;
                grid-row: 1 / 5;
            }
            &:nth-child(2) {
                grid-column: span 4 / 11;
                grid-row: 3 / 7;
            }
            min-height: 320px;
            min-width: 330px;
            position: relative;
            display: inline-flex;
            padding: 20px;
            margin: 0;
            &-photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
            }
            &-info {
            }
            &-caption {
                &--title {
                    margin: 0;
                }
            }
        }
    }
    &contact {
        display: grid;
        grid-gap: 0.5em;
    }
}
