.mouse-tracker {
    --size-init: 1rem;
    --size-active: 2rem;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: var(--size-init);
    height: var(--size-init);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0%;
    opacity: 0.8;
    transform: translate(-50%, -50%) translate(var(--mouse-x), var(--mouse-y));
    transition: border-radius 0.15s ease-in-out, background-color 0.1s ease-in-out, width 0.1s ease-in-out, height 0.1s ease-in-out;
    pointer-events: none;

    &::before,
    &::after {
        content: '';
        position: absolute;
        border-width: 2px;
        border-style: solid;
        border-color: var(--theme-contrast);
    }

    &::before {
        width: 90%;
        height: 90%;
        top: -4px;
        left: -4px;
        z-index: -2;
        border-bottom: none;
        border-right: none;
        border-width: 2px;
        background-color: transparent;
    }
    &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: linear-gradient(460deg, var(--color-a), var(--color-b));
    }

    &.on-link {
        width: var(--size-active);
        height: var(--size-active);
        cursor: pointer;
        background-image: linear-gradient(460deg, var(--color-a), var(--color-b));
        &::before {
            border-width: 2px;
            border-width: 2px;
            top: -6px;
            left: -6px;
        }
    }
}

.u-chevron {
    $base: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $base * 6;
    &-arrow {
        position: absolute;
        top: -$base * 0.6;
        width: $base * 3.5;
        height: $base * 0.6;
        opacity: 0;
        transform: scale(0.3);
        animation: move-chevron 3s ease-out infinite;
        &:first-child {
            animation: move-chevron 3s ease-out 1s infinite;
        }

        &:nth-child(2) {
            animation: move-chevron 3s ease-out 2s infinite;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 50%;
            background: #2c3e50;
        }

        &:before {
            left: 0;
            transform: skewY(30deg);
        }

        &:after {
            right: 0;
            width: 50%;
            transform: skewY(-30deg);
        }
    }
    @keyframes move-chevron {
        25% {
            opacity: 1;
        }
        33.3% {
            opacity: 1;
            transform: translateY($base * 3.8);
        }
        66.6% {
            opacity: 1;
            transform: translateY($base * 5.2);
        }
        100% {
            opacity: 0;
            transform: translateY($base * 8) scale(0.5);
        }
    }
}
