include ./templates/_mixin
<!DOCTYPE html>
html(lang="en")
    block config
        -var mainClass = 'on-betsknate'
        -var data = 'Betsknate'
        -var menu = [ {"link": './', "text": 'inicio'},  {"link": '#proposal', "text": 'marca'}, {"link": '#colors', "text": 'colores'}, {"link": '#elements', "text": 'elementos'}, {"link": '#aplicaciones', "text": 'aplicaciones'}, {"link": '#contact', "text": 'contacto'}]
        include ./templates/_head
    body
        main(id="app" class="o-main"+' '+mainClass)
            include ./templates/_header
            |
            include ./templates/betsknate/_welcome
            |
            include ./templates/betsknate/_record
            |
            include ./templates/betsknate/_preview
            |
            include ./templates/betsknate/_proposal
            |
            include ./templates/betsknate/_colors
            |
            include ./templates/betsknate/_elementos
            |
            include ./templates/betsknate/_aplicaciones
            |
            include ./templates/betsknate/_contact
            |
            include ./templates/_footer
            |
        div(class="mouse-tracker")
        |
        |
        include ./templates/_append