include ./templates/_mixin
<!DOCTYPE html>
html(lang="en")
    block config
        -var mainClass = 'on-orca'
        -var data = 'Proyecto Orca'
        -var menu = [ {"link": './', "text": 'inicio'}, {"link": '#about', "text": 'nosotros'}, {"link": '#works', "text": 'trabajos'}, {"link": '#enfoque', "text": 'enfoque'}, {"link": '#contact', "text": 'contacto'}]
        include ./templates/_head
    body
        main(id="app" class="o-main"+' '+mainClass)
            include ./templates/_header
            |
            include ./templates/orca/_welcome
            |
            include ./templates/orca/_record
            |
            include ./templates/orca/_preview
            |
            include ./templates/orca/_proposal
            |
            include ./templates/orca/_objectives
            |
            include ./templates/orca/_isotipo
            |
            include ./templates/orca/_tipografia
            |
            include ./templates/_footer
            |
        div(class="mouse-tracker")
        |
        |
        include ./templates/_append