@charset "utf-8";
:root {
    --duration: 1.6s;
    --easing: cubic-bezier(0.2, 0, 0.3, 1);
    --mouse-x: calc(50vw + 1px);
    --mouse-y: calc(50vh + 1px);
    --theme-contrast: #323232;
    --color-w: #ffffff;
    --color-0: #d4d4d4;
    --color-1: #323232;
    --color-a: #fdc400; //#bc5ff1;
    --color-b: #fdc400; //#7842e6;
    --color-c: #fdc400; //#3a1a7b;

    --font-avenirnext-medium: AvenirNext-Medium, sans-serif;
    --font-avenirnext-bold: AvenirNext-Bold, sans-serif;
    --font-avenirnext: Avenir Next, sans-serif;
}
@import './shared';
/* ---------------------------------- */
@import './typograph';
/* ---------------------------------- */
@import './base';
/* ---------------------------------- */
@import './layout';
/* ---------------------------------- */
@import './svg';
/* ---------------------------------- */
@import './mask';
/* ---------------------------------- */
@import './mouse';

@keyframes animateSize {
    to {
        width: 85vw;
        height: 85vh;
    }
}
