@charset "utf-8";

:root {
    --duration: 1.6s;
    --easing: cubic-bezier(0.2, 0, 0.3, 1);
    --theme-contrast: #323232;
    --color-w: #ffffff;
    --color-0: #f0f0f0;
    --color-1: #323232;
    --color-a: #eec32e; //#bc5ff1;
    --color-b: #fdc400; //#7842e6;
    --color-c: #fdc400; //#3a1a7b;

    --theme-section-bg: var(--color-w);

    --font-medium: AvenirNext-Medium, sans-serif;
    --font-bold: AvenirNext-Bold, sans-serif;
    --font-normal: Avenir Next, sans-serif;

    --mouse-x: calc(50vw + 1px);
    --mouse-y: calc(50vh + 1px);
    --mouse-bg: var(--color-a);
}
@import './styles/shared';
/* ---------------------------------- */
@import './styles/typograph';
/* ---------------------------------- */
@import './styles/base';
/* ---------------------------------- */
@import './styles/layout/index';
/* ---------------------------------- */
@import './styles/components/index';
/* ---------------------------------- */
@import './styles/utilities/index';
/* ---------------------------------- */
@import './styles/specificity';

@keyframes animateSize {
    to {
        width: 85vw;
        height: 85vh;
    }
}
