include ./views/shared/_mixin
<!DOCTYPE html>
html(lang="en")
    block config
        -var mainClass = 'on-valientes'
        -var data = 'CS - Valientes'
        -var menu = [ {"link": './', "text": 'inicio'}, {"link": '#proposal', "text": 'propuesta'}, {"link": '#colores', "text": 'colores'}, {"link": '#referentes', "text": 'referentes'}, {"link": '#elements', "text": 'elementos'}, {"link": '#contact', "text": 'contacto'}]
        include ./views/shared/_head
    body
        main(id="app" class="o-main"+' '+mainClass)
            include ./views/shared/_header
            |
            include ./views/templates/valientes/_welcome
            |
            include ./views/templates/valientes/_record
            |
            include ./views/templates/valientes/_proposal
            |
            include ./views/templates/valientes/_colores
            |
            include ./views/templates/valientes/_referentes
            |
            include ./views/templates/valientes/_elementos
            |
            include ./views/templates/valientes/_aplicaciones
            |
            include ./views/templates/valientes/_contact
            |
            include ./views/shared/_footer
            |
        div(class="mouse-tracker")
        |
        |
        include ./views/shared/_append