section(id="enfoque" class="o-section" data-theme='gold')
    .o-wrapper
        h2.c-section_headding.js-scrollUp
            small.c-section_headding-indicator Enfoque, multiples servicios, 2 modalidades de trabajo
            .c-section_headding-separador
            span.c-section_headding-enfasis Impulsamos
            |  transformaciones de la mano con el cliente.
    article(class="c-grid" data-grid="card")
        div(class="c-card js-scrollUp")
            .c-card_content
                h1.c-card_caption-title Estrategia y consultoría
                figcaption.c-card_caption
                    p(class="c-card_description") Trabajo cercano con el cliente para realizar análisis y definir diagnostico y plan de acción.
                    div
                        small
                            a.js-link(href='mailto:harley.santos.garzon@gmail.com') harley.garzon@cubiostudio.com
        figure.c-card.js-scrollUp
            .c-card_content
                h1.c-card_caption-title Diseño y desarrollo
                figcaption.c-card_caption
                    p(class="c-card_description") Resolver las necesidades tanto en el diseño, desarrollo y consultoría de la mano con e cliente.
                    div
                        small
                            a.js-link(href='mailto:angela.bohorquez.ramos@gmail.com') angela.bohorquez@cubiostudio.com
