section(id="enfoque" class="o-section" data-theme='gold')
    .o-wrapper
        +headding('h1', 'Enfoque, multiples servicios, 2 modalidades de trabajo.', 'Impulsamos', ' transformaciones de la mano con el cliente.')(class="")
    article(class="c-grid" data-grid="card")
        div(class="c-card js-intersector")
            .c-card_content
                h1.c-card_caption-title Estratégia y consultoría
                figcaption.c-card_caption
                    p(class="c-card_description") Trabajo cercano con el cliente para realizar análisis y definir diagnostico y plan de acción.
                    a(class="c-btn js-link" data-position='absolute' href='mailto:harley.santos.garzon@gmail.com') hablemos
        figure.c-card.js-intersector
            .c-card_content
                h1.c-card_caption-title Diseño y desarrollo
                figcaption.c-card_caption
                    p(class="c-card_description") Resolver las necesidades tanto en el diseño, desarrollo y consultoría de la mano con e cliente.
                    a(class="c-btn js-link" data-position='absolute' href='mailto:angela.bohorquez.ramos@gmail.com') hablemos
